{% extends 'photometa/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body" style="text-align: center;">
            <h2>Веб-сервис для управления метаданными изображений</h2>
            <h4>Доступные функции</h4>
            <ul title="functions" style="text-align: left;">
                <li>загрузка фото</li>
                <li>просмотр имеющихся метаданных</li>
                <li>отчистка фото от метаданных</li>
                <li>изменение метаданных</li>
            </ul>
        </div>
    </article>
{% endblock content %}