{% extends 'photometa/base.html' %}

{% block content %}
    <div class="content-section">
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Показать метаданные</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Редактировать</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Загрузить</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Удалить</a>
            </div>
        </div>
        <img src="{{ object.img.url }}"
             class="w-20 shadow-1-strong rounded mb-4"
             alt=""
             width="35%">
    </div>
{% endblock content %}