{% extends 'photometa/base.html' %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h3 class="account-heading">{{ user.username }}, это ваша галерея</h3>
                <h4>Тут вы можете управлять своими фотографиями</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                {% for image in images %}
                    <a href="{% url 'photo-detail' image.id %}">
                        <img src="{{ image.img.url }}"
                             class="w-20 shadow-1-strong rounded mb-4"
                             alt=""
                             width="35%">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
